<% flash.each do |key, value| %>
  <% if value != 'Signed in successfully.' %>
    <div class="alert alert-success alert-dismissable" role="alert" style="position: absolute">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong><%= value %></strong>
    </div>
  <% end %>
<% end %>